<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">      
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/recipes.css">  
</head>
  <body>
    <header>
      <nav class="teal lighten-2">
        <div class="nav-wrapper container teal lighten-2">
          <a href="" class="brand-logo">
            <img src= "images/logo.png" alt = "" class ="responsive-img" width="100px" height="50px">More Recipes</a>
            <a href="" data-activates="mobile-menu" class="button-collapse"> 
              <i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="search1.html"><i class="fa fa-search tiny" aria-hidden="true"></i></a></li>
                  <li>|</li>
                  <li><a href="signin.html">Sign In</a></li>
                  <li>|</li>
                  <li><a href="signup.html">Sign Up</a></li>
                </ul>
                <ul class="side-nav" id="mobile-menu">
                  <li><a href="search1.html"><i class="fa fa-search tiny" aria-hidden="true"></i></a></li>
                  <li><a href="signin.html">Sign In</a></li>
                  <li><a href="signup.html">Sign Up</a></li>
                </ul>
        </div>
      </nav>
    </header>
    <main>
    <div class="container" style=" margin-top: 50px">
    <div class="row">
          <div class="col s12">
            <h3 class="flow-text center" style="font-weight: bold;font-size: 25px;">More-Recipes provides a platform for users to share the awesome and exciting  recipe ideas they have invented or learnt.  
              <p style="font-style: italic;">Happy learning and Happy sharing</p>
            </h3>
            <hr>
          </div>
        </div>
    <div class="row">
     <div class="col s12">
      <div class="col s6">
        <img src="images/chrizo.jpg" alt = "" class = "responsive-img" >
      </div>
      <div class="col s6">
          <h3 class="flow-text">Chorizo Stuffed Bell Peppers</h3><blockquote class="flow-text" id="description">Bell peppers are stuffed with a spicy blend of chorizo, onions, garlic, fresh herbs, Worcestershire, three kinds of cheese, and rice. If you have a taste for spice, you'll love them. Don't let the number of ingredients scare you!</blockquote>
        </div>
      </div>
      <div class="row">
      <div class="col s6">
        Ingredients
      </div>
      <div class="col s6">
        Procedures
      </div>
      </div>

      <div class="row">
      <div class="col s6">
        <ul class="collection">
                <li class="collection-item">bell peppers, tops cut off and seeded</li>
                <li class="collection-item"> pound chorizo sausage</li>
                <li class="collection-item"> pound chorizo sausage</li>
                <li class="collection-item"> carrot, minced</li>
                <li class="collection-item">1/2 cup chopped onion</li>
              </ul>
      </div>
      <div class="col s6">
          <ul class="collection">
                <li class="collection-item">Bring a large pot of water to boil. Place peppers in boiling water, and cook 5 minutes. Remove, and set aside to cool.</li>
                <li class="collection-item">Preheat oven to 350 degrees F (175 degrees C).</li>
                <li class="collection-item">In a large skillet, cook chorizo until almost brown. Drain fat. Stir in celery, carrots, onions, and garlic. Cook until soft, about 5 minutes. Season with salt and pepper. Stir in tomatoes, Worcestershire sauce, parsley, basil, rice, and water. Cover, and simmer until rice is cooked, about 15 minutes. Remove from heat, and mix in Monterey Jack, Cheddar, and Mozzarella cheeses.</li>
                <li class="collection-item">Place peppers upright on a baking sheet. Stuff each pepper with the chorizo mixture. Sprinkle extra cheese on top.</li>
                <li class="collection-item">In a small bowl, combine tomato soup with just enough water to give the soup the consistency of gravy. Pour generously over peppers. Cover with foil.</li>
              </ul>
        </div>
       </div> 
      <div class="row">
        <div class="col s12">
        <a class="waves-effect waves-light btn" id="upVote"><i class="fa fa-thumbs-up tiny left">20</i>
              <span class="badge" id="upVoteCount"></span></a>
              <a class="waves-effect waves-light btn" id="downVote"><i class="fa fa-thumbs-down tiny left">10</i>
              <span class="badge" id="downVoteCount"></span></a>
              <a class="waves-effect waves-light btn" id="postComment"><i class="fa fa-comment tiny" aria-hidden="true">6</i></a>
              <a class="waves-effect waves-light btn disabled"><i class="fa fa-eye tiny" aria-hidden="true">5</i> <span class="badge" id="viewCount"></span></a>
        </div>
       </div> 
    </div>
    </div>    
 <div class="container" style=" margin-top: 100px">
    <div class="row">
     <div class="col s12">
      <div class="col s6">
        <img src="images/wedding.jpg" alt = "" class = "responsive-img" >
      </div>
      <div class="col s6">
          <h3 class="flow-text">Wedding Gift Spaghetti Sauce</h3><blockquote class="flow-text" id="description">This recipe was given to me as part of a wedding gift recipe collection from a very dear friend. It is rich, aromatic, flavorful and makes A LOT. So please grab the biggest pot you can find. I mean REALLY BIG. Extra sauce freezes well for future pasta dishes.</blockquote>
        </div>
      </div>
      <div class="row">
      <div class="col s6">
        Ingredients
      </div>
      <div class="col s6">
        Procedures
      </div>
      </div>

      <div class="row">
      <div class="col s6">
        <ul class="collection">
                <li class="collection-item">1/2 cup butter</li>
                <li class="collection-item"> 3 tablespoons olive oil</li>
                <li class="collection-item">1 large onion, chopped</li>
                <li class="collection-item"> 3 cloves garlic, chopped</li>
                <li class="collection-item">1 pound ground beef</li>
              </ul>
      </div>
      <div class="col s6">
          <ul class="collection">
                <li class="collection-item">Heat butter and olive oil together with onion and garlic in a large pot over medium heat; cook and stir ground beef and sausage in the onion mixture until browned and crumbly, 10 to 15 minutes. Stir Italian seasoning, salt, rosemary, oregano, and black pepper into ground beef-sausage mixture; simmer for 20 minutes.</li>
                <li class="collection-item">Pour water, tomato puree, and tomato paste into ground beef-sausage mixture; simmer, stirring occasionally, over low heat until flavors have combined, at least 2 hours.</li>
              </ul>
        </div>
       </div> 
      <div class="row">
        <div class="col s12">
        <a class="waves-effect waves-light btn" id="upVote"><i class="fa fa-thumbs-up tiny left">20</i>
              <span class="badge" id="upVoteCount"></span></a>
              <a class="waves-effect waves-light btn" id="downVote"><i class="fa fa-thumbs-down tiny left">10</i>
              <span class="badge" id="downVoteCount"></span></a>
              <a class="waves-effect waves-light btn" id="postComment"><i class="fa fa-comment tiny" aria-hidden="true">6</i></a>
              <a class="waves-effect waves-light btn disabled"><i class="fa fa-eye tiny" aria-hidden="true">5</i> <span class="badge" id="viewCount"></span></a>
        </div>
       </div> 
    </div>
    </div>    
  </main>
      <footer class="page-footer teal lighten-2 black-text">
        <div class="container">
             <div class="row">
                    <div class="col l6 s12">
                        <h5>Contact Info:</h5>
                            <ul>
                                <li><i class="material-icons prefix">location_on</i>Road B Block B Flat 5, RSUST, PH, Nigeria</li>
                                <li><i class="material-icons prefix">mail_outline</i>Chibuezeayogu@hotmail.com</li>
                                <li><i class="material-icons prefix">local_phone</i>+234-703-349-7338</li>
                            </ul>
                    </div>
                </div>
            <div class="row">
                <div class="footer-copyright black-text">
                    <div class="container center"><h6>&copy Copyright 2017. All Right Reserved</h6></div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>    
    <script src="https://use.fontawesome.com/7673a07bc0.js"></script>   
    <script src="js/recipes.js"></script> 
  </body>
</html>
